*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: 'Open Sans', sans-serif;
}
nav{
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
    
}
header{

    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: auto;
    padding: 48px;
    width: 100%;    
}
nav a{
    color: #fff;
    text-decoration: none;
    
    
}
.icono{
    display: block;
    animation: moverIzquierda 1s ease-in;
    z-index: 10000000;
}
.container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: -80px;
    justify-content: space-around;
}
img{
    display: block;
    height: 500px;
    object-fit: cover;
    width: auto;
    animation: moverarriba 1s ease-in;
}
.textos{
    width: 50%;
    color: #fff;
}
.textos h1{
    font-size: 55px;
    animation: moverDerecha 1s ease-in;
}
.textos h2{
    font-size: 30px;
    color: rgba(184, 3, 48, 0.904);
    animation: moverIzquierda 1s ease-in;
}
.textos a{
    display: inline-block;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff ;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: moverarriba 1s ease-in;
}
.wave{
    height: 100px;
    width: 100%;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.enlaces{
    position: fixed;
    display: flex;
    top: 0;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    left:0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;
    background: #0575E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.uno{
    clip-path: circle(0% at 0 0);

}
.dos{
    clip-path: circle(141.4% at 0 0);

}

@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moverarriba{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@media screen and (max-width:1089px){
    img{
        height: 460px;
    }
    .textos h1{
        font-size: 50px;
    }
    .textos h2{
        font-size: 25px;
    }
}

@media screen and (max-width:993px){
    img{
        height: 400px;
    }
    .textos h1{
        font-size: 42px;
    }
    .textos h2{
        font-size: 25px;
    }
}


@media screen and (max-width:849px){
    img{
        height: 350px;
    }
    .textos h1{
        font-size: 35px;
    }
    .textos h2{
        font-size: 20px;
    }
}

@media screen and (max-width:725px){
    img{
        height: 300px;
    }
    .textos h1{
        font-size: 30px;
    }
    .textos h2{
        font-size: 15px;
    }
}
@media screen and (max-width:470px){
    .container{
        width: 100%;
        margin-bottom:0;
        flex-wrap: wrap-reverse;
        
    }
    
    .textos{
        width: 100%;
        text-align: center;
    }
    .textos h1{
        font-size: 35px;
    }
    .textos h2{
        font-size: 20px;
    }
}
@media screen and (max-width:396px){
    img{
        height: 200px;
    }
    .textos h1{
        font-size: 26px;
    }
    .textos a{
        width: 120px;
    }
    .textos h2{
        font-size: 15px;
    }
    
}
